*{
    margin: 0;
    padding: 0;
}
header{
    padding-top: 70px;
    .navbar-brand{
        font: normal bold 24px Mulish;
        line-height: 30px;
        color: #233348;
        span{
            color: white;
            background-color: #458FF6;
            margin-right: 12px;
            padding: 5px 12px;
            border-radius: 50%;
        }
    }
    .nav-link{
        font: normal normal 18px Mulish;
        line-height: 23px;
        color: #1F1534;
        margin-right: 40px;
        border-bottom: 1px solid white;
        &:hover{
            border-bottom: 1px solid #458FF6;
        }
       
    }
    .nav-link.active{
        font-weight: bold;
    }
    .item{
        margin-top: 84px;
        h2{
            font: normal bold 48px Mulish;
            line-height: 56px;
            color: #000000;
            margin-bottom: 25px;
        }
        p{
            font: normal 300 21px Mulish;
            line-height: 32px;
            color: #7D7987;
            margin-bottom: 45px;
        }
        button{
            outline: none;
            border: 1px solid #458FF6;
            cursor: pointer;
            background: #458FF6;
            border-radius: 55px;
            color: #fff;
            font: normal bold 18px Mulish;
            line-height: 60px;
            padding: 0px 40px;
            transition: 2s;
            &:hover{
                background-color: white;
                color: #458FF6;
                border: 1px solid #458FF6;
            }

        }
    }
    .left-side{
        position: absolute;
        left: 0;
        top: 160px;
    }
}
